cw/objs/lowrisc_systems_chip_englishbreakfast_cw305_0.1.bit filter=lfs diff=lfs merge=lfs -text
cw/objs/aes_serial_fpga_nexysvideo.bin filter=lfs diff=lfs merge=lfs -text
cw/objs/lowrisc_systems_chip_earlgrey_cw310_0.1.bit filter=lfs diff=lfs merge=lfs -text
cw/objs/lowrisc_systems_chip_earlgrey_cw310_0.1_kmac_dom.bit filter=lfs diff=lfs merge=lfs -text
cw/objs/kmac_serial_fpga_cw310.bin filter=lfs diff=lfs merge=lfs -text
cw/objs/aes_serial_fpga_cw310.bin filter=lfs diff=lfs merge=lfs -text
doc/img/cw310_cwhusky.jpg filter=lfs diff=lfs merge=lfs -text
doc/img/sample_traces_aes.png filter=lfs diff=lfs merge=lfs -text
doc/img/sample_traces_kmac.png filter=lfs diff=lfs merge=lfs -text
test/data/tvla_general/* filter=lfs diff=lfs merge=lfs -text
