# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Keep sorted.
bokeh
cffi
codetiming
libusb1
more-itertools
networkx
pycryptodome
# TODO: Use pyvisa instead after switching to a dedicated PRNG
python-vxi11
pyyaml
ray
scared
tqdm
trsfile
typer
# can be removed after switching to ray
joblib

# Development version of ChipWhisperer toolchain - Fix the version for now
# Prefer the archive download over a git clone to decrease installation time
# (The chipwhisperer repository is rather large and uses additionally uses
# submodules, which need to be fetched as well.)
https://github.com/newaetech/chipwhisperer/archive/99abbcad2bfdadee47dded973684a696b64a1c09.tar.gz
