# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Keep sorted.
bokeh<3.0.0
cffi
codetiming
libusb1
matplotlib
more-itertools
networkx
pycryptodome >= 3.12.0
# TODO: Use pyvisa instead after switching to a dedicated PRNG
python-vxi11
pyyaml
ray
scared
scipy
sqlalchemy
sqlalchemy_utils
tqdm
trsfile
typer
wheel
# can be removed after switching to ray
joblib

# Development version of ChipWhisperer toolchain with latest features and
# bug fixes - Needs to be installed in editable mode. We fix the version
# for improved stability and manually update if necessary.
-e git+https://github.com/newaetech/chipwhisperer.git@3eace1719daf43d4f0965c1790c2c8a9e8b2f690#egg=chipwhisperer

# Linters
-r python-requirements-lint.txt

# Test-only requirements
pytest
