# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Keep sorted.
bokeh
cffi
codetiming
libusb1
matplotlib
more-itertools
networkx
pycryptodome
# TODO: Use pyvisa instead after switching to a dedicated PRNG
python-vxi11
pyyaml
ray
scared
scipy
tqdm
trsfile
typer
wheel
# can be removed after switching to ray
joblib

# Development version of ChipWhisperer toolchain with latest features and
# bug fixes - Needs to be installed in editable mode. We fix the version
# for improved stability and manually update if necessary.
-e git+https://github.com/newaetech/chipwhisperer.git@c5181a87111d3aabab42d83b10dbc368140b43ef#egg=chipwhisperer

# Linters
-r python-requirements-lint.txt

# Test-only requirements
pytest
