pr:
  branches:
    include:
    - "*"

jobs:
- job: sca_capture
  displayName: "Capture SCA traces"
  timeoutInMinutes: 30
  pool: FPGA SCA
  steps:
  - checkout: self
  - bash: |
      python3 -m pip install --user -r python-requirements.txt
    displayName: "Install python dependencies"
  - bash: |
      apt update
      apt install git-lfs
    displayName: "Install system dependencies"
  - bash: |
      git-lfs pull
    displayName: "Pull LFS binaries"
  - bash: |
      pushd ci
      ./ci_capture_aes_fvsr.sh
      popd
    displayName: "Capture traces"
  - publish: ./ci/ci_projects/opentitan_simple_aes_data/
    artifact: traces
    displayName: "Upload traces"
  - bash: |
      set -e
      pushd ci
      ./ci_check_aes_traces.sh
      ./ci_trace_check/ci_compare_aes_traces.py -f ./ci_projects/opentitan_simple_aes.cwp -g ./ci_trace_check/golden_traces/aes_128_ecb_static.zip -c 0.8
      popd
    displayName: "Check captured AES traces"
    continueOnError: True
  - publish: ./ci/tmp/
    artifact: plot_traces_aes
    displayName: "Upload plot of captured AES traces."
  - publish: ./ci/ci_projects/opentitan_simple_aes.zip
    artifact: project_traces_aes
    displayName: "Upload project of captured AES traces."
  - bash: |
      set -e
      pushd ci
      ./ci_check_tvla_aes.sh
      ../cw/tvla.py --cfg-file cfg/ci_tvla_cfg_aes_specific_byte0_rnd0.yaml run-tvla 
      popd
    displayName: "Check AES TVLA"
  - publish: ./ci/tmp/figures
    artifact: tvla_figure
    displayName: "Upload figure of AES TVLA."